@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Fredericka the Great', cursive;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)),
    url('./images/bg.jpg') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.first,
.second {
  position: absolute;
  font-size: 65px;
  font-weight: lighter;
  left: 45px;
  text-shadow: 3px 3px 2px #111,
               2px 2px 1px #eee;
}

.first {
  top: 200px;
  color: gold;
}

.second {
  top: 300px;
  color: orangered;
}

.game-canvas {
  width: 800px;
  height: 600px;
  border-radius: 20px;
  border: 3px solid gold;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.8);
}